In [1]:
from sqlalchemy import *
from app.db import engine
from app import model

In [3]:
# 全部のデータを確認
conn = engine.connect()
result = conn.execute(text("SELECT * FROM user"))
rows = result.fetchall()
print(f"length is {len(rows)}")
for row in rows :
    print(row.id)
    print(row.name)
    print(row.token)
    print(row.leader_card_id)
    print("===")

2022-03-10 08:30:04,120 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-10 08:30:04,121 INFO sqlalchemy.engine.Engine SELECT * FROM user
2022-03-10 08:30:04,121 INFO sqlalchemy.engine.Engine [generated in 0.00174s] ()
length is 4
22
monoafter1
DkhoD33w2
333
===
25
monoTone
c018300c-264b-47ae-a9e2-293bdc280acb
12
===
26
monoTone1
004a1285-c77f-4064-b6f1-1b90686de1a7
12
===
27
monoTone1
c2242b7a-407c-46ba-8979-e91d2460abe3
12
===

In [13]:
conn.execute(text("""INSERT INTO user ( name, token, leader_card_id) 
                  VALUES ( :name ,:token, :leader_card_id) """),
             dict( name='monoTone', token='Kjkntwb', leader_card_id=1)
             )

2022-03-10 06:58:15,511 INFO sqlalchemy.engine.Engine INSERT INTO user ( name, token, leader_card_id)
                  VALUES ( %s ,%s, %s)
2022-03-10 06:58:15,512 INFO sqlalchemy.engine.Engine [generated in 0.00128s] ('monoTone', 'Kjkntwb', 1)

In [3]:
# select example
result = conn.execute(text("SELECT `id`, `name`, `leader_card_id` FROM user WHERE `token` =:token"),
                      dict(token="DkhoD33w2"))
# dict内の変数；たとえばtokenは → :tokenに代入される

    
print(result.one())

""" 
for i in result.fetchall():
    print(i)

"""

2022-03-10 07:55:59,339 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-10 07:55:59,340 INFO sqlalchemy.engine.Engine SELECT `id`, `name`, `leader_card_id` FROM user WHERE `token` =%s
2022-03-10 07:55:59,341 INFO sqlalchemy.engine.Engine [generated in 0.00207s] ('DkhoD33w2',)
(22, 'tai', 25)

' \nfor i in result.fetchall():\n    print(i)\n\n'

In [5]:
model._get_user_by_token(conn,str("DkhoD33w2"))

2022-03-10 08:29:19,524 INFO sqlalchemy.engine.Engine SELECT `id`, `name`, `leader_card_id` FROM user WHERE `token` =%s
2022-03-10 08:29:19,525 INFO sqlalchemy.engine.Engine [generated in 0.00104s] ('DkhoD33w2',)

SafeUser(id=22, name='monoafter', leader_card_id=333)

In [20]:
import imp
imp.reload(model)

In [6]:
model.update_user(_token = "DkhoD33w2", _name="monoafter1", _leader_card_id=333)

2022-03-10 08:29:33,975 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-10 08:29:33,976 INFO sqlalchemy.engine.Engine  UPDATE user SET name = %s,
                     leader_card_id = %s WHERE token = %s
2022-03-10 08:29:33,976 INFO sqlalchemy.engine.Engine [generated in 0.00062s] ('monoafter1', 333, 'DkhoD33w2')
2022-03-10 08:29:33,977 INFO sqlalchemy.engine.Engine COMMIT